<p>directives </p>

<!-- <div [ngClass]="isSpecial ? 'special4':''"> -->
<div [ngClass]="currentClass">
Example with class
</div>
<div [ngStyle]="CurrentStyle">
    Example with styles
    </div>


    <br>
    <h4>ngModel</h4>
<label for="example">
{{name}}
<input [(ngModel)]="name" id="example">
</label>

<br>
<br>
<h4 appAttributeDirective>Attribute Directive Style</h4>
<!-- <p [appCustomDirective]="'red'"> HI check please</p> -->


    <!-- structural directive -->
<div *ngIf="isactive"> Active</div>

<div *ngFor="let item of items; let i= index">{{i}} =
    {{item.name}}
</div>

<div [ngSwitch]="item2.name">
    <div *ngSwitchCase="'Rofiq'">batch 17 student (switchcase)</div>
    <div *ngSwitchCase="'shofiq'">Batch 16 student(switchcase)</div>
    <div *ngSwitchDefault>Batch 18 student(default)</div>

</div>
