  
<br>


<app-attribute-binding></app-attribute-binding>

<!-- <app-property-binding></app-property-binding> -->


<!-- <app-pipes></app-pipes> -->

<!-- <app-template-statements></app-template-statements> -->


<!-- <app-parent-ngcontent></app-parent-ngcontent> -->

<!-- <app-parent-viewchild></app-parent-viewchild> -->

<!-- <app-parent></app-parent> -->


<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Product Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">Product Price</h6>
    <h6 class="card-subtitle mb-2 text-muted"> Code</h6>
    <input type="button" value="Buy">
  </div>
</div>
<br> -->
<!-- <app-hello></app-hello> -->

    <!-- Text interpolation -->
<!-- <p>hi</p>
{{title}}
<br>
{{1+1}}
<br>
{{getMin(5,7)}} -->
